body {
    background-color: #BD9460;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: absolute;
    height: 50vh;
    width: 60vmin;
    z-index: 1000;
}

.firewood {
    position: absolute;
    bottom: 0;
    width: 10vmin;
    border-radius: 4vmin;
}

.firewood:nth-child(1) {
    background-color: #5F1F00;
    height: 25vmin;
    left: 15vmin;
    transform: rotate(50deg);
}

.firewood:nth-child(2) {
    background-color: #361300;
    height: 30vmin;
    left: 35vmin;
    bottom: -3vmin;
    transform: rotate(-60deg);
}

.firewood:nth-child(3) {
    background-color: #710004;
    height: 22vmin;
    left: 25vmin;
    transform: rotate(-5deg);
}

.fire {
    background-color: orange;
    width: 21vmin;
    height: 14vmin;
    border-radius: 4vmin;
    left: 19vmin;
    bottom: 15vmin;
    position: absolute;
    z-index: 1000;
}

.flame {
    width: 10vmin;
    height: 6vmin;
    border-radius: 4vmin;
    bottom: 20vmin;
    position: absolute;
}

.flame:nth-child(5) {
    background-color: yellow;
    left: 19vmin;
}

.flame:nth-child(6) {
    left: 24vmin;
    background-color: yellow;
}

.flame:nth-child(7) {
    left: 29vmin;
    background-color: yellow;
}

.flame:nth-child(8) {
    background-color: orange;
    left: 19vmin;
}

.flame:nth-child(9) {
    left: 24vmin;
    background-color: orange;
}

.flame:nth-child(10) {
    left: 29vmin;
    background-color: orange;
}

.flame:nth-child(11) {
    background-color: red;
    left: 19vmin;
}

.flame:nth-child(12) {
    left: 24vmin;
    background-color: red;
}

.flame:nth-child(13) {
    left: 29vmin;
    background-color: red;
}

.flame:nth-child(14) {
    background-color: red;
    left: 19vmin;
}

.flame:nth-child(15) {
    left: 24vmin;
    background-color: orange;
}

.flame:nth-child(16) {
    left: 29vmin;
    background-color: yellow;
}

.ground {
    width: 100vw;
    height: 36vh;
    position: absolute;
    bottom: 0;
    z-index: 0;
    background-color: darkgreen;
}