body {
    background-color: #BD9460;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: absolute;
    height: 50vh;
    width: 60vmin;
}

.firewood {
    position: absolute;
    bottom: 0;
    width: 10vmin;
    border-radius: 4vmin;
}

.firewood:nth-child(1) {
    background-color: #5F1F00;
    height: 25vmin;
    left: 15vmin;
    transform: rotate(50deg);
}

.firewood:nth-child(2) {
    background-color: #361300;
    height: 30vmin;
    left: 35vmin;
    bottom: -3vmin;
    transform: rotate(-60deg);
}

.firewood:nth-child(3) {
    background-color: #710004;
    height: 22vmin;
    left: 25vmin;
    transform: rotate(-5deg);
}

.fire {
    background-color: red;
    width: 21vmin;
    height: 14vmin;
    border-radius: 4vmin;
    left: 19vmin;
    bottom: 15vmin;
    position: absolute;
    z-index: 1000;
}

.flame1 {
    background-color: yellow;
    width: 10vmin;
    height: 6vmin;
    border-radius: 4vmin;
    left: 19vmin;
    bottom: 23vmin;
    position: absolute;
}

.flame2 {
    left: 24vmin;
    background-color: yellow;
    width: 10vmin;
    height: 6vmin;
    border-radius: 4vmin;
    bottom: 23vmin;
    position: absolute;
}

.flame3 {
    left: 29vmin;
    background-color: yellow;
    width: 10vmin;
    height: 6vmin;
    border-radius: 4vmin;
    bottom: 23vmin;
    position: absolute;
}

.flame4 {
    background-color: orange;
    width: 10vmin;
    height: 6vmin;
    border-radius: 4vmin;
    left: 19vmin;
    bottom: 23vmin;
    position: absolute;
}

.flame5 {
    left: 24vmin;
    background-color: orange;
    width: 10vmin;
    height: 6vmin;
    border-radius: 4vmin;
    bottom: 23vmin;
    position: absolute;
}

.flame6 {
    left: 29vmin;
    background-color: orange;
    width: 10vmin;
    height: 6vmin;
    border-radius: 4vmin;
    bottom: 23vmin;
    position: absolute;
}

.flame7 {
    background-color: red;
    width: 10vmin;
    height: 6vmin;
    border-radius: 4vmin;
    left: 19vmin;
    bottom: 23vmin;
    position: absolute;
}

.flame8 {
    left: 24vmin;
    background-color: red;
    width: 10vmin;
    height: 6vmin;
    border-radius: 4vmin;
    bottom: 23vmin;
    position: absolute;
}

.flame9 {
    left: 29vmin;
    background-color: red;
    width: 10vmin;
    height: 6vmin;
    border-radius: 4vmin;
    bottom: 23vmin;
    position: absolute;
}

.flame10 {
    background-color: red;
    width: 10vmin;
    height: 6vmin;
    border-radius: 4vmin;
    left: 19vmin;
    bottom: 23vmin;
    position: absolute;
}

.flame11 {
    left: 24vmin;
    background-color: orange;
    width: 10vmin;
    height: 6vmin;
    border-radius: 4vmin;
    bottom: 23vmin;
    position: absolute;
}

.flame12 {
    left: 29vmin;
    background-color: yellow;
    width: 10vmin;
    height: 6vmin;
    border-radius: 4vmin;
    bottom: 23vmin;
    position: absolute;
}